<% if flash.notice || flash.alert %>
  <div class="toast-container bottom-0 end-0 p-3">
    <div class="toast text-white <%= flash.notice ? 'bg-primary' : 'bg-danger' %>"
         role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast">
      <div class="d-flex">
        <div class="toast-body">
          <%= flash.notice || flash.alert %>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>
