<div id="pager" class="min-w-full my-8 flex justify-center">
  <div>
    <% if pagy.has_more %>
      <%= link_to(
            "Load more emails",
            root_path(before: last_id),
            class: "rounded py-3 px-5 bg-gray-600 text-white block hover:bg-gray-800",
            data: {
              turbo_stream: "",
              controller: "autoclick"
            }
          ) %>
    <% end %>
  </div>
</div>
