<div class="inbox-container">
  <div class="fixed-panel left">
    <div class="p-2">
      <%= render 'compose_email' %>
    </div>
    <div class="pre-scrollable">
      <div class="emails-list" data-controller="email-list">
        <%= turbo_stream_from "emails" %>
        <ul id="emails">
          <%= render @emails %>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-panel right pre-scrollable">
    <div class="container email" id="emailContainer">
    </div>
  </div>
</div>
